
<div *ngIf="!isAddView">
<app-character-display [listByCharacterPage]="characters" (delete)="deleteCharacter($event)" (update)="updateCharacter($event)"></app-character-display>
<button type="button" class="btn btn-warning" (click)="displayAddView()" >Créer un personnage</button>
</div>


<div *ngIf="isAddView">
    <app-add-character (newCharacter)="addCharacterInParent($event)"></app-add-character>
    <button type="button" class="btn btn-warning" (click)="displayAddView()">Retour</button>
</div>

