div{
    margin-bottom : 25px;
}

#create{
    margin-left: 1693px !important;
    margin-bottom: 25px!important;
    margin-right: 25px !important;
}

#inactif{
    margin-bottom: 25px!important;
}

#return {
    margin-left : 1818px!important;
 }